html * {
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
*,*:after,*:before {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
body {
    font-size:100%;
    font-family:ubuntu,sans-serif;
    color:#333;
    background-color:#3f4258
}
.title{
    font-size: 40px;
    color: white;
    position: relative;
    top: 85px;
}
.title p
{
    position: relative;
    left: 27%;
    bottom: 8px;
}
a {
    font-size: 15px;
    color:#62c169;
    text-decoration:none
}
img,svg {
    max-width:100%
}
#cd-table .cd-unchecked span,#cd-table .cd-checked span {
    display:block;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap
}
#cd-table {
    position:relative;
    width:90%;
    max-width:1170px;
    margin:1em auto;
    font-size:14px;
    font-size:.875rem;
    border-right:1px solid #e6e7f1
}
#cd-table::after {
    content:'';
    display:table;
    clear:both
}
#cd-table::before {
    content:'';
    position:absolute;
    top:0;
    right:-1px;
    height:100%;
    width:35px;
    background:-webkit-linear-gradient( right,white 10%,rgba(255,255,255,0));
    background:linear-gradient(to left,white 10%,rgba(255,255,255,0));
    z-index:5;
    pointer-events:none
}
.no-cssgradients #cd-table::before {
    display:none
}
#cd-table.table-end::before {
    display:none
}
#cd-table .cd-table-container {
    position:relative;
    width:107%;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch
}
#cd-table .cd-table-wrapper {
    width:870px;
    padding-left:120px
}
#cd-table .cd-table-column {
    width:150px;
    float:left;
    border:1px solid #e6e7f1;
    margin-left:-1px
}
#cd-table .cd-table-column:last-child {
    border-right:0
}
#cd-table h2,#cd-table ul>li {
    position:relative;
    text-align:center;
    padding:0 1em;
    border-bottom:1px solid #e6e7f1;
    height:43px;
    line-height:42px;
    background-color:#fff
}
#cd-table h2 {
    font-size:20px!important;
    font-size:.875rem;
    text-transform:uppercase;
    font-weight:700;
    color:#606272
}
#cd-table ul>li {
    color:#787a8d
}
#cd-table ul>li:nth-child(odd) {
    background-color:#f6f7fa
}
#cd-table ul>li:last-child {
    border-bottom:0
}
#cd-table .cd-unchecked span,#cd-table .cd-checked span {
    position:absolute;
    width:16px;
    height:16px;
    background-image:url(../fonts/yes-no.svg);
    background-repeat:no-repeat;
    background-position:0 0;
    background-size:32px 16px;
    left:50%;
    top:50%;
    bottom:auto;
    right:auto;
    -webkit-transform:translateX(-50%) translateY(-50%);
    -moz-transform:translateX(-50%) translateY(-50%);
    -ms-transform:translateX(-50%) translateY(-50%);
    -o-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden
}
#cd-table .cd-unchecked span {
    background-position:-16px 0
}
#cd-table .cd-select {
    display:block;
    height:100%;
    width:100%;
    font-weight:700
}
#cd-table header.cd-table-column {
    position:absolute;
    width:120px;
    height:100%;
    left:0;
    top:0;
    z-index:10;
    background:rgba(121,130,153,.95);
    margin-left:0;
    border-color:#6b758d;
    box-shadow:2px 0 0 rgba(0,0,0,.1);
    pointer-events:none
}
#cd-table header.cd-table-column h2,#cd-table header.cd-table-column li {
    background-color:transparent;
    text-align:left;
    color:#edeef1;
    text-shadow:0 1px 1px rgba(0,0,0,.1);
    border-bottom-color:#6b758d
}
#cd-table header.cd-table-column h2 {
    color:#edeef1
}
#cd-table header.cd-table-column li:nth-child(odd) {
    background-color:rgba(107,117,141,.95)
}
#cd-table header.cd-table-column li:last-child {
    border-bottom:1px solid #6b758d
}
#cd-table .cd-scroll-right {
    display:block;
    width:16px;
    height:16px;
    position:absolute;
    right:0;
    top:50%;
    margin-top:-8px;
    background:url(../fonts/small-arrow.svg) no-repeat center center;
    z-index:6;
    -webkit-animation:cd-scroll-right 1.5s infinite;
    -moz-animation:cd-scroll-right 1.5s infinite;
    animation:cd-scroll-right 1.5s infinite
}
@media only screen and (min-width:870px) {
    #cd-table {
        margin:2em auto;
        border-right:0
    }
    #cd-table::before {
        display:none
    }
    #cd-table .cd-table-wrapper {
        width:100%;
        padding-left:16.66667%
    }
    #cd-table .cd-table-column {
        width:12%;
        float:left
    }
    #cd-table .cd-table-column:last-child {
        border-right:1px solid #e6e7f1
    }
    #cd-table header.cd-table-column {
        width:16.66667%;
        float:left;
        background:#798299;
        box-shadow:none;
        pointer-events:auto
    }
    #cd-table .cd-scroll-right {
        display:none
    }
}@media only screen and (min-width:1170px) {
    #cd-table {
        margin:9em auto;
    }
}@-webkit-keyframes cd-scroll-right {
     0%,100% {
         -webkit-transform:translateX(0)
     }
     50% {
         -webkit-transform:translateX(3px)
     }
 }@-moz-keyframes cd-scroll-right {
      0%,100% {
          -moz-transform:translateX(0)
      }
      50% {
          -moz-transform:translateX(3px)
      }
  }@keyframes cd-scroll-right {
       0%,100% {
           -webkit-transform:translateX(0);
           -moz-transform:translateX(0);
           -ms-transform:translateX(0);
           -o-transform:translateX(0);
           transform:translateX(0)
       }
       50% {
           -webkit-transform:translateX(3px);
           -moz-transform:translateX(3px);
           -ms-transform:translateX(3px);
           -o-transform:translateX(3px);
           transform:translateX(3px)
       }
   }